@import 'variables', 'fonts', 'reset';

.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}

.mobile-open {
    display: none;
}

.default-cursor {
    position: absolute;
    z-index: 2000;
    pointer-events: none;
    overflow: hidden;
    img {
        pointer-events: none;
        transform-origin: center;
        overflow: hidden;
        animation: roundcursor 5s linear infinite;
        @keyframes roundcursor {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
    }
}


#header {
    position: fixed;
    top: 0;    
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    .header-inner {
        position: relative;
        height: 100%;
    }
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1280px;
        height: 100%;
    }
    .logo {
        img {
            vertical-align: middle;
        }
    }
    .small-hd {
        display: none;
    }
    #gnb {
        height: 100%;
        .depth1 {
            display: flex;
            align-items: center;
            width: 100%;
            height: inherit;
            > li {
                padding: 0 30px;
                height: inherit;
                > a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    &:hover {
                        color: $point1;
                    }
                }
            }
        }
        .depth2 {
            position: absolute;
            top: 90px;
            left: 0px;
            right: 0;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 20px;
            height: 100%;
            max-width: 1280px;
            visibility: hidden;
            text-align: center;
            font-weight: 300;
            li {
                padding: 0 30px;
                font-size: 14px;
                &:hover a {
                    color: $point1;
                }
            }
        }
        .depth1 li:hover .depth2 {
            visibility: visible;
        }
        .btn-search {
            padding-left: 30px;
        }
    }
    .depth2-bg {
        position: fixed;
        top: 90px;
        left: 0;
        display: none;
        width: 100%;
        height: 90px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/bg/bg-depth2.jpg);
        background-size: cover;
        background-position: bottom;
    }
    @media screen and (max-width:1200px) {
        #gnb {
            // display: none;
            position: absolute;
            top: 90px;
            width: 100vw;
            .depth1 {
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                height: 100vh;
                background: $point3;
            }
            .depth2 {
                top: 0;
                left: 100px;
                flex-direction: column;
                justify-content: space-around;
                height: 100vh;
            }
            .depth2-bg {
                display: none;
            }
        }
        .small-hd {
            display: block;
            opacity: 0;
        }
    }
}

.intro-page {
    height: 100vh;
    display: grid;
    place-items: center;
    .video-background {
        display: flex;
    }
    .video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .typing-wrap {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        z-index: 100;
        animation: typing 3s steps(28);
        @keyframes typing {
            from {
                width: 0
            }
        }
        h2 {
            font-family: 'HakgyoansimWoojuR';
            font-weight: normal;
            font-size: 48px;
            span {
                font-weight: bold;
                animation: titlecolor 3s linear infinite alternate;
            }
            @keyframes titlecolor {
                0% {color: #A1B6FF;}
                33% {color: $point3;}
                66% {color: $point1}
                100% {color: white}
            }
        }
    }
    @media screen and (max-width:1000px) {
        .typing-wrap h2 {
            font-size: 36px;
        }
    }
    @media screen and (max-width:750px) {
        .typing-wrap  {
            animation: none;
            h2 {
                text-align: center;
            }
        }
        .mobile-open {
            display: block;
        }
    }
    @media screen and (max-width:480px) {
        .typing-wrap h2 {
            font-size: 24px;
        }
    }
}
.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 0;
    background-image: url(../../images/bg/bg-intro.jpg);
    background-size: cover;
    .text-wrap {
        display: flex;
        font-size: 100px;
        p {
            font-weight: 900;
            color: $point3;
            -webkit-text-stroke: 2px $point3;
            opacity: 0;

        }
        span {
            color: transparent;
        }
    }
    .ani-title {
        position: relative;
        &.animate-in {
            animation: textHidden 0.3s 1.1s forwards;
            span {
                animation: textHidden 0.1s 1.1s forwards;
            }
          &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
          }
          &:before {
            background-color: $point3;
            // animation-delay: -0.1s;
            animation: colorbox 1.8s .6s ease;
          }
          &:after {
            background-color: black;
            animation-delay: .5s;
            animation: colorbox 1s 1.2s ease;
          }
        }
    }
    @keyframes colorbox {
        0%{
          width: 0;
          left: 0;
        }
        65%{
          width: 100%;
          left: 0;
        }
        100% {
          width: 0;
          left: 100%;
        }
    }
    @keyframes textHidden {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    > p {
        padding-top: 60px;
        text-align: center;
        font-family: 'HakgyoansimWoojuR';
        font-size: 28px;
        line-height: 50px;
    }
    @media screen and (max-width:1200px) {
        .text-wrap {
            display: block;
        }
    }
    @media screen and (max-width:800px) {
        .text-wrap {
            font-size: 70px;
        }
        > p {
            font-size: 22px;
            line-height: 40px;
        }
    }
    @media screen and (max-width:550px) {
        padding: 200px 0;
        .text-wrap {
            font-size: 40px;
        }
        > p {
            font-size: 16px;
            line-height: 30px;
        }
    }
}

.sec {
    overflow: hidden;
    .sec-inner {
        display: flex;
        margin: 0 auto;
        padding: 200px 20px;
        max-width: 1280px;
    }
    h3 {
        font-size: 40px;
        font-family: 'HakgyoansimWoojuR';
        font-weight: normal;
        line-height: 1.2;
    }
    h4 {
        color: $point2;
        font-size: 18px;
        font-weight: 200;
    }
    .title-wrap {
        position: absolute;
        top: 200px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
    }
    .title-fixed {
        position: fixed;
    }
    .cont-wrap {
        padding: 250px 0 150px 500px;
    }
    @media screen and (max-width:1200px) {
        .title-wrap {
            width: 25%;
        }
        .cont-wrap {
            padding-left: 340px;
        }
    }
    @media screen and (max-width:1000px) {
        .title-wrap {
            width: 30%;
        }
    }
    @media screen and (max-width:750px) {
        .title-wrap {
            align-items: flex-start;
            margin-left: 20px;
            width: auto;
        }
        .cont-wrap {
            padding: 250px 0 500px 0;
        }
    }
}

.role-page {
    position: relative;
    .role-area {
        position: absolute;
        width: 100%;
        height: 100vh;
        .role-bg {
            top: 0;
            left: 0;
            height: 100%;
            background-image: url(../../images/bg/bg-role.jpg);
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }
    .page-fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    .role-inner {
        margin: 0 auto;
        max-width: 1280px;
        z-index: 1;
    }
    .roles-list {
        margin-top: 100px;
        width: 700px;
    }
    .roles {
        float: left;
        position: relative;
        width: 330px;
        height: 330px;
        border-radius: 50%;
        transition: all 0.2s;
        &:nth-child(2){
            margin-top: 300px;
            margin-right: 0;
        }
        &:nth-child(4){
            margin-top: 300px;
            margin-bottom: 200px;
            margin-right: 0;
        }
        &:hover {
            background: transparent;
            border-radius: 50%;
            box-shadow: 0 0 10px 2px $point3;
        }
        &::before {
            content: "";
            display: block;
            width: 330px;
            height: 330px;
            background-image: url(../../images/circle-lg.png);
            animation: roundcircle 16s linear infinite;
        }
        @keyframes roundcircle {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
        .role {
            position: absolute;
            top: 15px;
            left: 15px;
            display: flex;
            justify-content: center;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            transition: all 0.2s;
            &:hover {
                background: linear-gradient(180deg, rgba(161,182,255,1) 0%, rgba(161,182,255,1) 36%, rgba(104,146,255,1) 100%);
                border-radius: 50%;
                box-shadow: 0 0 10px 1px $point1;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 300px;
                height: 300px;
                background-image: url(../../images/circle-sm.png);
                background-position: center;
                background-repeat: no-repeat;
                animation: roundcircle2 30s linear infinite;
            }
            @keyframes roundcircle2 {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(-360deg);}
            }
        }
        p {
            position: absolute;
            top: 39%;
            text-align: center;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.7;
        }
    }
    @media screen and (max-width:1000px) {
        .roles-list {
            width: auto;
        }
        .roles, 
        .roles:nth-child(2),
        .roles:nth-child(4) {
            margin-top: 100px;
        }
        .roles-list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 50px;
        }
    }
    @media screen and (max-width:750px) {
        .roles-list {
            padding-right: 20px;
        }
    }
    @media screen and (max-width:425px) {
        .roles-list {
            align-content: center;
            flex-wrap: wrap;
            padding-right: 0;
        }
        .roles:first-child {
            margin-top: 300px;
        }
    }
}
.dev-page {
    position: relative;
    .dev-area {
        position: absolute;
        width: 100%;
        height: 100vh;
        .dev-bg {
            top: 0;
            left: 0;
            height: 100%;
            background-image: url(../../images/bg/bg-dev.jpg);
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }
    .page-fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    .dev-inner {
        margin: 0 auto;
        max-width: 1280px;
        z-index: 1;
    }
    .dev-list {
        margin-top: 100px;
        width: 700px;
    }
    .dev-box {
        float: left;
        position: relative;
        padding: 40px;
        width: 300px;
        height: 400px;
        background: $point1;
        border: 1px solid rgba(0, 0, 0, );
        border-radius: 20px;
        transition: all 0.1s;
        &:nth-child(2){
            margin-top: 500px;
            margin-left: 80px;
        }
        &:nth-child(3){
            margin-top: 100px;
        }
        &:nth-child(4){
            margin-top: 600px;
            margin-bottom: 200px;
            margin-left: 80px;
        }
        &:hover {
            box-shadow: inset 0 -150px 100px -100px rgba(0, 0, 0, 0.5);
            strong {
                color: $point3;
            }
        }
    }
    .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        strong {
            font-size: 32px;
            font-weight: 600;
            line-height: 1;
        }
        p {
            font-weight: 300;
        }
    }
    .dev-card1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dev-card2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dev-card3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dev-card4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media screen and (max-width:1200px) {
        .dev-box:nth-child(2) {
            margin-top: 300px;
            margin-left: 40px;
        }
        .dev-box:nth-child(3) {
            margin-top: 0;
        }
        .dev-box:nth-child(4) {
            margin-top: 300px;
            margin-left: 40px;
        }
    }
    @media screen and (max-width:1000px) {
        .dev-box:nth-child(2),
        .dev-box:nth-child(3),
        .dev-box:nth-child(4) {
            margin: 100px 55px 0 0;
        }
        .dev-box:nth-child(4) {
            margin-bottom: 200px;
        }
        .devs-list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 50px;
        }
        .dev-box:nth-child(2),
        .dev-box:nth-child(3),
        .dev-box:nth-child(4) {
            margin-right: 0;
        }
    }
    @media screen and (max-width:425px) {
        .devs-list {
            align-content: center;
            flex-wrap: wrap;
            padding-right: 0;

        }
        .dev-box:first-child {
            margin-top: 400px;
        }
    }
}

.years-page {
    position: relative;
    .years-area {
        position: absolute;
        width: 100%;
        height: 100vh;
        .years-bg {
            top: 0;
            left: 0;
            height: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/years-bg1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            animation: yearsbg 10s linear infinite;
        }
        @keyframes yearsbg {
            30%{
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/years-bg2.jpg);
            }
            60%{
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/years-bg3.jpg);
            }    
        }
    }
    .page-fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    .btn-wrap {
        position: absolute;
        top: 320px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        h3 {
            font-size: 80px;
            text-align: center;
            line-height: 1.3;
        }
        .btn-40years {
            padding-top: 35px;
            a {
                position: relative;
                display: block;
                padding: 5px 20px;
                width: 185px;
                height: 50px;
                border: 2px solid $point2;
                border-radius: 50px;
                background: rgba(161, 182, 255, 0.2);
                transition: all 0.3s;
                &:hover {
                    background: $point2;
                }
                p {
                    padding-top: 8px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 200;
                }
            }
        }
    }
    .title-fixed {
        position: fixed;

    }
    .card-wrap {
        position: relative;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 300px 0 0;
        width: 600px;
    }
    .year-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 300px;
        .year-img {
            margin: 35px 0;
            width: 260px;
            height: 350px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            color: whitesmoke;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .img1 {
            background-image: url(../../images/years-card1.jpg);
        }
        .img2 {
            background-image: url(../../images/years-card2.jpg);
        }
        .img3 {
            background-image: url(../../images/years-card3.jpg);
        }
        .img4 {
            background-image: url(../../images/years-card4.jpg);
        }
        .img5 {
            background-image: url(../../images/years-card5.jpg);
        }
        strong {
            position: relative;
            color: $point2;
            font-size: 48px;
            font-weight: 500;
            line-height: 1;
        }
        p {
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            line-height: 2;
            span {
                font-weight: 500;
            }
        }
    }
    @media screen and (max-width:1200px) {
        .btn-wrap {
            width: 45%;
        }
        .card-wrap {
            width: 50%;
        }
        .year-box {
            p {
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width:1000px) {
        .btn-wrap h3 {
            font-size: 60px;
        }
        .year-box p {
            font-size: 14px;
        }
    }
    @media screen and (max-width:750px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn-wrap {
            top: 200px;
            width: 100%;
            h3 {
                font-size: 45px;
            }
            .btn-40years {
                a {
                    width: 151px;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        .card-wrap {
            left: auto;
            padding-top: 600px;
            width: auto;
            strong {
                font-size: 40px;
            }
        }
    }
}

.research-page {
    position: relative;
    border-radius: 50px;
    background: black;
    background-image: url(../../images/bg/bg-research.jpg);
    background-repeat: no-repeat;
    .sec-inner {
        display: block;
    }
    h3 {
        margin-bottom: 60px;
    }
    a {
        height: 90px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        transition: all 0.3s;
        &:last-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        &:hover {
            color: black;
            background: rgba(255, 255, 255, );
        }
        strong {
            width: 30%;
            padding-left: 20px;
            font-size: 28px;
            font-weight: 500;
        }
        p {
            font-size: 18px;
            font-weight: 300;
        }
    }
    .img-cursor {
        position: fixed;
        pointer-events: none;
        img {
            position: absolute;
            top: 30px;
            left: 20px;
            display: none;
            border: 1px solid white;
        }
    }
    @media screen and (max-width:1000px) {
        a p {
            font-size: 16px;
        }
    }
    @media screen and (max-width:750px) {
        a p {
            display: none;
        }
        a strong {
            width: auto;
        }
    }
    @media screen and (max-width:750px) {
        a strong {
            font-size: 24px;
        }
    }
}

.contest-page {
    .sec-inner {
        padding-bottom: 40px;
        justify-content: space-between;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            p {
                padding-right: 10px;
                line-height: 1;
                font-weight: 300;
            }
        }
    }
    .slide-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        width: 380px;
        overflow: hidden;
        img {
            width: 100%;
            height: 550px;
            object-fit: cover;
            &:hover + p {
                display: block;
            }
        }
        a:hover::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
        }
        a:hover {
            .slide-text {
                display: block;
            }
        }
        .slide-text {
            position: absolute;
            display: none;
            left: 30px;
            bottom: 18px;
            z-index: 100;
            p {
                padding-bottom: 5px;
                font-size: 20px;
                font-weight: 300;
            }
            span {
                font-weight: 100;
            }
        }
    }
    @media screen and (max-width:425px) {
        .sec-inner {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }     
    }
}

.end-title {
    padding: 200px 0 180px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url(../../images/bg/bg-end.jpg);
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
    p {
        font-family: 'HakgyoansimWoojuR';
        font-size: 36px;
        line-height: 2;
    }
    span {
        animation: titlecolor 3s linear infinite alternate;
    }
    @media screen and (max-width:750px) {
        p {
            font-size: 26px;
        }
    }
    @media screen and (max-width:560px) {
        .mobile-open {
            display: block;
        }
    }
}

.moving-list{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    .site-wrap {
        display: flex;
        align-items: center;
        gap: 300px;
        height: 70px;
        animation: movinglist 60s linear infinite;
    }
    @keyframes movinglist {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .list-wrap {
        display: flex;
        gap: 50px;
        img {
            height: 38px;
            object-fit: cover;
        }
    }
}


#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    text-align: center;
    .f-logo {
        padding: 50px 0 50px ;
        filter: grayscale(100%);
    }
    ul {
        display: flex;
        padding-bottom: 30px;
        li {
            position: relative;
            padding: 0 6px;
        }
        li::before {
            content: "";
            position: absolute;
            top: 4px;
            left: -3px;
            display: block;
            margin: 0 3px;
            width: 1px;
            height: 15px;
            background: rgba(255, 255, 255, 0.7);
        }
        li:first-child::before {
            display: none;
        }
        a {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .sns-wrap {
        display: flex;
        gap: 20px;
        padding: 40px 0;
        .sns-box {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: #292929;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
    .copyright {
        padding-bottom: 30px;
        font-size: 14px;
        opacity: 50%;
    }
    @media screen and (max-width:600px) {
        ul li::before {
            content: "";
            position: absolute;
            top: 8px;
            left: -3px;
            display: block;
            margin: 0 3px;
            width: 1px;
            height: 10px;
            background: rgba(255, 255, 255, 0.7);
        }
        a {
            font-size: 12px;
        }
        p {
            font-size: 14px;
        }
        .mobile-open {
            display: block;
        }
    }
    @media screen and (max-width:450px) {
        ul {
            display: none;
        }
        p {
            font-size: 12px;
        }
        .copyright {
            font-size: 11px;
        }
    }
}