@charset "UTF-8";
@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2858FF 10%, #A1B6FF 70%);
  border-radius: 10px;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

img {
  line-height: 0;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  background: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: white;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px;
}

.default-cursor {
  position: absolute;
  z-index: 2000;
  pointer-events: none;
  overflow: hidden;
}
.default-cursor img {
  pointer-events: none;
  transform-origin: center;
  overflow: hidden;
  animation: roundcursor 5s linear infinite;
}
@keyframes roundcursor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
#header .header-inner {
  position: relative;
  height: 100%;
}
#header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  height: 100%;
}
#header #gnb {
  height: 100%;
}
#header #gnb .depth1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}
#header #gnb .depth1 > li {
  padding: 0 30px;
  height: inherit;
}
#header #gnb .depth1 > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
#header #gnb .depth1 > li > a:hover {
  color: #A1B6FF;
}
#header #gnb .depth2 {
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  max-width: 1280px;
  visibility: hidden;
  text-align: center;
  font-weight: 300;
}
#header #gnb .depth2 li {
  padding: 0 30px;
  font-size: 14px;
}
#header #gnb .depth2 li:hover a {
  color: #A1B6FF;
}
#header #gnb .depth1 li:hover .depth2 {
  visibility: visible;
}
#header #gnb .btn-search {
  padding-left: 30px;
}
#header .depth2-bg {
  position: fixed;
  top: 90px;
  left: 0;
  display: none;
  width: 100%;
  height: 90px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/bg/bg-depth2.jpg);
  background-size: cover;
  background-position: bottom;
}

.intro-page {
  height: 100vh;
  display: grid;
  place-items: center;
}
.intro-page .video-background {
  display: flex;
}
.intro-page .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro-page .typing-wrap {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  animation: typing 3s steps(28);
}
@keyframes typing {
  from {
    width: 0;
  }
}
.intro-page .typing-wrap h2 {
  font-family: "HakgyoansimWoojuR";
  font-weight: normal;
  font-size: 48px;
}
.intro-page .typing-wrap h2 span {
  font-weight: bold;
  animation: titlecolor 3s linear infinite alternate;
}
@keyframes titlecolor {
  0% {
    color: #A1B6FF;
  }
  33% {
    color: #2858FF;
  }
  66% {
    color: #A1B6FF;
  }
  100% {
    color: white;
  }
}

.title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 0;
  background-image: url(../../images/bg/bg-intro.jpg);
  background-size: cover;
}
.title-page .text-wrap {
  display: flex;
}
.title-page .text-wrap p {
  font-size: 100px;
  font-weight: 900;
  color: #2858FF;
  -webkit-text-stroke: 2px #2858FF;
  opacity: 0;
}
.title-page .text-wrap span {
  color: transparent;
}
.title-page .ani-title {
  position: relative;
}
.title-page .ani-title.animate-in {
  animation: textHidden 0.3s 1.1s forwards;
}
.title-page .ani-title.animate-in span {
  animation: textHidden 0.1s 1.1s forwards;
}
.title-page .ani-title.animate-in:before, .title-page .ani-title.animate-in:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
.title-page .ani-title.animate-in:before {
  background-color: #2858FF;
  animation: colorbox 1.8s 0.6s ease;
}
.title-page .ani-title.animate-in:after {
  background-color: black;
  animation-delay: 0.5s;
  animation: colorbox 1s 1.2s ease;
}
@keyframes colorbox {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title-page > p {
  padding-top: 60px;
  text-align: center;
  color: transparent;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(161, 182, 255) 0%, rgb(40, 88, 255) 70%);
  -webkit-background-clip: text;
  font-family: "HakgyoansimWoojuR";
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
}

.sec {
  overflow: hidden;
}
.sec .sec-inner {
  display: flex;
  margin: 0 auto;
  padding: 200px 20px;
  max-width: 1280px;
}
.sec h3 {
  font-size: 40px;
  font-family: "HakgyoansimWoojuR";
  font-weight: normal;
  line-height: 1.2;
}
.sec h4 {
  color: #6892FF;
  font-size: 18px;
  font-weight: 200;
}
.sec .title-wrap {
  position: absolute;
}
.sec .cont-wrap {
  padding: 250px 0 150px 530px;
}

.role-page {
  position: relative;
}
.role-page .role-area {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.role-page .role-area .role-bg {
  top: 0;
  left: 0;
  height: 100%;
  background-image: url(../../images/bg/bg-role.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.role-page .page-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.role-page .role-inner {
  margin: 0 auto;
  max-width: 1280px;
  z-index: 1;
}
.role-page .title-wrap {
  position: absolute;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}
.role-page .title-fixed {
  position: fixed;
}
.role-page .roles-list {
  margin-top: 100px;
  width: 700px;
}
.role-page .roles {
  float: left;
  position: relative;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  transition: all 0.2s;
}
.role-page .roles:nth-child(2) {
  margin-top: 330px;
  margin-right: 0;
}
.role-page .roles:nth-child(4) {
  margin-top: 330px;
  margin-bottom: 200px;
  margin-right: 0;
}
.role-page .roles:hover {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #2858FF;
}
.role-page .roles::before {
  content: "";
  display: block;
  width: 330px;
  height: 330px;
  background-image: url(../../images/circle-lg.png);
  animation: roundcircle 16s linear infinite;
}
@keyframes roundcircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.role-page .roles .role {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: all 0.2s;
}
.role-page .roles .role:hover {
  background: linear-gradient(180deg, rgb(161, 182, 255) 0%, rgb(161, 182, 255) 36%, rgb(104, 146, 255) 100%);
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #A1B6FF;
}
.role-page .roles .role::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url(../../images/circle-sm.png);
  background-position: center;
  background-repeat: no-repeat;
  animation: roundcircle2 30s linear infinite;
}
@keyframes roundcircle2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.role-page .roles p {
  position: absolute;
  top: 39%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
}

.dev-page {
  position: relative;
}
.dev-page .dev-area {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.dev-page .dev-area .dev-bg {
  top: 0;
  left: 0;
  height: 100%;
  background-image: url(../../images/bg/bg-dev.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.dev-page .page-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.dev-page .dev-inner {
  margin: 0 auto;
  max-width: 1280px;
  z-index: 1;
}
.dev-page .title-wrap {
  position: absolute;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}
.dev-page .title-fixed {
  position: fixed;
}
.dev-page .dev-list {
  margin-top: 100px;
  width: 700px;
}
.dev-page .dev-box {
  float: left;
  position: relative;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: #A1B6FF;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  transition: all 0.1s;
}
.dev-page .dev-box:nth-child(2) {
  margin-top: 500px;
  margin-left: 80px;
}
.dev-page .dev-box:nth-child(3) {
  margin-top: 100px;
}
.dev-page .dev-box:nth-child(4) {
  margin-top: 600px;
  margin-bottom: 200px;
  margin-left: 80px;
}
.dev-page .dev-box:hover {
  box-shadow: inset 0 -150px 100px -100px rgba(0, 0, 0, 0.5);
}
.dev-page .dev-box:hover strong {
  color: #2858FF;
}
.dev-page .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.dev-page .text-wrap strong {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.dev-page .text-wrap p {
  font-weight: 300;
}
.dev-page .dev-card1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dev-page .dev-card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dev-page .dev-card3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dev-page .dev-card4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../images/dev-card4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.years-page {
  position: relative;
}
.years-page .years-area {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.years-page .years-area .years-bg {
  top: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/years-bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.years-page .page-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.years-page .btn-wrap {
  position: absolute;
  top: 320px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.years-page .btn-wrap h3 {
  font-size: 80px;
  text-align: center;
  line-height: 1.3;
}
.years-page .btn-wrap .btn-40years {
  padding-top: 35px;
}
.years-page .btn-wrap .btn-40years a {
  position: relative;
  display: block;
  padding: 5px 20px;
  width: 185px;
  height: 50px;
  border: 2px solid #6892FF;
  border-radius: 50px;
  background: rgba(161, 182, 255, 0.2);
  transition: all 0.3s;
}
.years-page .btn-wrap .btn-40years a:hover {
  background: #6892FF;
}
.years-page .btn-wrap .btn-40years a p {
  padding-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}
.years-page .title-fixed {
  position: fixed;
}
.years-page .card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 0 0 40%;
}
.years-page .year-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
}
.years-page .year-box .year-img {
  margin: 35px 0;
  width: 260px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.years-page .year-box .img1 {
  background-image: url(../../images/years-card1.jpg);
}
.years-page .year-box .img2 {
  background-image: url(../../images/years-card2.jpg);
}
.years-page .year-box .img3 {
  background-image: url(../../images/years-card3.jpg);
}
.years-page .year-box .img4 {
  background-image: url(../../images/years-card4.jpg);
}
.years-page .year-box .img5 {
  background-image: url(../../images/years-card5.jpg);
}
.years-page .year-box strong {
  position: relative;
  color: #6892FF;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
}
.years-page .year-box p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}
.years-page .year-box p span {
  font-weight: 500;
}

.research-page {
  position: relative;
  border-radius: 100px;
  background: black;
  background-image: url(../../images/bg/bg-research.jpg);
  background-repeat: no-repeat;
}
.research-page .sec-inner {
  display: block;
}
.research-page h3 {
  margin-bottom: 60px;
}
.research-page a {
  height: 90px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}
.research-page a:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.research-page a:hover {
  color: black;
  background: rgb(255, 255, 255);
}
.research-page a strong {
  width: 30%;
  padding-left: 20px;
  font-size: 28px;
  font-weight: 500;
}
.research-page a p {
  font-size: 18px;
  font-weight: 300;
}
.research-page .img-cursor {
  position: fixed;
  pointer-events: none;
}
.research-page .img-cursor img {
  position: absolute;
  top: 30px;
  left: 20px;
  display: none;
  border: 1px solid white;
}

.contest-page .sec-inner {
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}
.contest-page .sec-inner a {
  display: flex;
  align-items: center;
}
.contest-page .sec-inner a p {
  padding-right: 10px;
  line-height: 1;
  font-weight: 300;
}
.contest-page .slide-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 380px;
  overflow: hidden;
}
.contest-page .slide-wrap img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contest-page .slide-wrap img:hover + p {
  display: block;
}
.contest-page .slide-wrap a:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.contest-page .slide-wrap a:hover .slide-text {
  display: block;
}
.contest-page .slide-wrap .slide-text {
  position: absolute;
  display: none;
  left: 30px;
  bottom: 18px;
  z-index: 100;
}
.contest-page .slide-wrap .slide-text p {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 300;
}
.contest-page .slide-wrap .slide-text span {
  font-weight: 100;
}

.end-title {
  padding: 100px 0 250px;
  text-align: center;
  background-image: url(../../images/bg/bg-dev.jpg);
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
}
.end-title p {
  font-family: "HakgyoansimWoojuR";
  font-size: 36px;
  line-height: 2;
}
.end-title span {
  animation: titlecolor 3s linear infinite alternate;
}

.moving-list {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.moving-list .site-wrap {
  display: flex;
  align-items: center;
  gap: 300px;
  height: 70px;
  animation: movinglist 60s linear infinite;
}
@keyframes movinglist {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.moving-list .list-wrap {
  display: flex;
  gap: 50px;
}
.moving-list .list-wrap img {
  height: 38px;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  text-align: center;
}
#footer .f-logo {
  padding: 40px 0;
  filter: grayscale(100%);
}
#footer .f-menu-wrap {
  display: flex;
  padding-bottom: 30px;
}
#footer .f-menu-wrap a {
  color: rgba(255, 255, 255, 0.7);
}
#footer .f-menu-wrap span {
  width: 1px;
  height: 20px;
  margin: 0 3px;
  color: white;
}
#footer .sns-wrap {
  display: flex;
  gap: 20px;
  padding: 40px 0;
}
#footer .sns-wrap .sns-box {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #292929;
}
#footer .sns-wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#footer .copyright {
  padding-bottom: 30px;
  font-size: 14px;
  opacity: 50%;
}/*# sourceMappingURL=comm.css.map */